fastapi==0.120.2
mangum==0.20.0
requests==2.32.5
boto3==1.42.68
openai==2.26.0
python-dotenv==1.1.1
pydantic==2.11.10
pydantic-core==2.33.2
sqlalchemy
oracledb==3.4.0
python-pptx==1.0.2
pdfplumber==0.11.9
opensearch-py==3.1.0
fpdf2==2.8.5
